/************************************
Video controls
************************************/
.video-container {
    height: calc(360px + 360px/2);
    width: calc(640px + 640px/2);
    position: relative;
    font-family: "Helvetica";
}

#video-controls {
    height: 50px;
    position: absolute;
    width: calc(100% - 20px);
    bottom: 0;
    padding: 0 10px 0 10px;
    display: none;
}

#video-controls:hover {
    cursor: pointer;
}

#controls-background {
    position: absolute;
    height: 100%;
    width: 100%;
    display: inline-block;
    background: #000;
    left: 0;
    opacity: 0.25;
}

.control-block {
    vertical-align: top;
    display: inline-block;
    position: relative;
    top: 10px;
    height: calc(100% - 15px);
    color: #f5f5f5;
    padding: 0 10px 0 10px;
}

.volume-block {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    min-width: 20px !important;
}

.volume-range {
    display: none;
    margin-left: 10px;
}

.control-block i.fa {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
}

input.volume {
    -webkit-appearance: none;
    background: transparent !important;
    border: none;
    width: 60px;
    display: inline-block;
    position: relative;
    margin: auto;
    top: 20%;
}

input.volume::-webkit-slider-runnable-track {
    width: 60px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -5px;
}


.video-timer {
    display: inline-block;
    position: relative;
    margin-top: -5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8em;
    vertical-align: middle;
    cursor: text;
}

input#scroll-time {
    -webkit-appearance: none;
    background: transparent !important;
    border: none;
    margin: 0px;
    width: 100%;
    display: inline-block;
    left: 0;
    padding: 0;
    position: absolute;
}

input#scroll-time::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #ddd;
    border: none;
}

input#scroll-time::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -5px;
}

#player-scrollbar {
    position: absolute;
    width: 97%;
    left: 50%;
    transform: translateX(-50%);
}

#player-scrollbar-opacity {
    position: absolute;
    width: 100%;
    left: 0;
    height: 5px;
    background-color: #d1d1d1;
    opacity: 0.5;
}

#player-scrollbar-thumbnail {
    border: 7px solid goldenrod;
    border-radius: 7px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -35%);
    z-index: 1;
}

#player-scrollbar-background {
    left: 0;
    height: 5px;
    display: inline-block;
    background: goldenrod;
    position: absolute;
}

#player-scrollbar-buffer {
    left:0;
    height: 5px;
    display: inline-block;
    background: #ddd;
    position: absolute;
}

#resolution-menu {
    position: absolute;
    transform: translateX(-45%);
    bottom:100%;
    background: #343538;
    padding: 0;
    list-style: none;
    width: 120px;
    display: none;
}

.resolution {
    right: 100px;
    width: 20px;
    position: absolute;
}

#resolution-btn i.fa {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.resolution-option {
    padding: 5px;
}

.resolution-option:hover {
    background-color: #999;
}

.resolution-option i.fa {
    display: inline !important;
    font-size: 95%;
}

span.resolution-text {
    display: inline-block;
    width: calc(100% - 30px);
}
